.version.one_coin /* version checker */
{
	color: #00000B;
	background-color: #FD3251;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -34px;
	width: 0.01px;
}

#pu154-4
{
	width: 0.01px;
	margin-left: -100px;
}

#u154-4,#u154-4-bw
{
	z-index: 17;
	min-height: 122px;
}

#u76-5
{
	z-index: 21;
	margin-right: -10000px;
	margin-top: 36px;
	left: 99px;
}

#menuu79
{
	z-index: 26;
	width: 627px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 447px;
}

#u87
{
	width: 154px;
	min-height: 86px;
	margin-right: -10000px;
}

#u90
{
	width: 154px;
	padding-bottom: 64px;
}

#u90:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u90:active
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u90.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u91-4
{
	width: 49px;
	min-height: 22px;
	margin-right: -10000px;
	top: 32px;
	left: 52px;
}

#u90:hover #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u90:active #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u90.MuseMenuActive #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u101
{
	width: 314px;
	min-height: 86px;
	margin-right: -10000px;
	left: 156px;
}

#u102
{
	width: 314px;
	padding-bottom: 64px;
}

#u102:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u102:active
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u102.MuseMenuActive
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u103-4
{
	width: 196px;
	min-height: 22px;
	margin-right: -10000px;
	top: 32px;
	left: 52px;
}

#u102:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u102:active #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u102.MuseMenuActive #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u104
{
	z-index: 39;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 248px;
}

#u102:hover #u104
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u102:active #u104
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u106
{
	width: 316px;
	top: 86px;
}

#u262
{
	width: 314px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u262:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u264-4
{
	width: 67px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 119px;
}

#u262:hover #u264-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u262.MuseMenuActive #u264-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u107,#u261,#u268
{
	width: 316px;
}

#u269
{
	width: 314px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u262.MuseMenuActive,#u269:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u269.MuseMenuActive
{
	width: 314px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u270-4
{
	width: 44px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 131px;
}

#u269:hover #u270-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u269.MuseMenuActive #u270-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u114
{
	width: 155px;
	min-height: 86px;
	margin-right: -10000px;
	left: 472px;
}

#u115
{
	width: 155px;
	padding-bottom: 64px;
}

#u115:hover
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u115:active
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u115.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u117-4
{
	width: 37px;
	min-height: 22px;
	margin-right: -10000px;
	top: 32px;
	left: 52px;
}

#u115:hover #u117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u115:active #u117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u115.MuseMenuActive #u117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u116
{
	z-index: 60;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 89px;
}

#u102.MuseMenuActive #u104,#u115:hover #u116
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u115:active #u116
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u115.MuseMenuActive #u116
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u119
{
	width: 120px;
	top: 86px;
}

#u339
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u339:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u341-4
{
	width: 49px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 30px;
}

#u339:hover #u341-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u339.MuseMenuActive #u341-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u120,#u338,#u354
{
	width: 120px;
}

#u355
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u339.MuseMenuActive,#u355:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u355.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u356-4
{
	width: 91px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 9px;
}

#u355:hover #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u355.MuseMenuActive #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u417-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	margin-left: 162px;
	margin-top: 21px;
	position: relative;
}

#u413
{
	z-index: 80;
	width: 652px;
	background-color: #FFC107;
	padding-bottom: 9px;
	margin-left: 154px;
	margin-top: 17px;
	position: relative;
}

#u414
{
	z-index: 81;
	width: 636px;
	background-color: #616161;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

#u415
{
	z-index: 82;
	width: 620px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u416-16
{
	z-index: 83;
	width: 581px;
	min-height: 371px;
	background-color: transparent;
	text-align: justify;
	margin-bottom: -50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 13px;
}

#u534-5
{
	z-index: 75;
	margin-left: 630px;
	margin-top: 740px;
}

#pu122
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -58px;
}

#u122
{
	z-index: 2;
	min-height: 78px;
	padding-bottom: 76px;
}

#u122_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u123
{
	z-index: 3;
	width: 53px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 83px;
}

#u129
{
	z-index: 5;
	width: 53px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 152px;
}

#u135
{
	z-index: 7;
	width: 53px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 221px;
}

#u141
{
	z-index: 9;
	width: 53px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 290px;
}

#u147
{
	z-index: 11;
	width: 73px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 930px;
}

#u122-bw
{
	z-index: 2;
	min-height: 78px;
}

#u153-4
{
	z-index: 13;
	margin-right: -10000px;
	margin-top: 39px;
	left: 886px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

